name: Deploy to GitHub Pages
on:
    push:
        branches:
            - main

jobs:
    deploy:
        name: Deploy to GitHub Pages
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
                uses: actions/checkout@main
            - name: Create Node Environment
                uses: actions/setup-node@v1
                with:
                    node-version: 10.x
            - name: Install Node Modules and Build
                run: npm install -g @vue/cli && npm ci && npm build
            - name: Deploy
                uses: s0/git-publish-subdir-action@develop
                env:
                    REPO: self
                    BRANCH: gh-pages
                    FOLDER: dist
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
